<h2>List of ratings</h2>

<p>
  Number of ratings <%= @ratings.count %>
</p>

<ul>
  <% @ratings.each do |rating| %>
    <li> <%= rating %> <%= link_to User.find(rating.user_id).username, User.find(rating.user_id) %></li>
  <% end %>
</ul>

<%= link_to 'new_rating', new_rating_path %>